@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-poppins;
}

/*** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions, 
.swipeable-list-item__trailing-actions {
  @apply text-white capitalize font-semibold text-sm;
}
.swipeable-list-item__leading-actions{
  @apply bg-blue-600;
}
.swipeable-list-item__trailing-actions {
  @apply bg-red-600;
}
.swipeable-list .swipe-action {
  @apply flex justify-center items-center
}

/*** END SWIPE LIST OVERRIDES **/